### 11ty ###
_site

### Build ###
web-ext-artifacts

### Docker ###
Dockerfile
.dockerignore

### Docs files ###
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.md

### GitHub ###
.git
.github
.gitignore

### Node ###
node_modules
npm-debug.log

### Other files ###
.editorconfig
