<section class="message">
  <h1 class="mb-12 select-none text-2xl text-white"><span
    data-timezone="{{ site.timeZone | default('Europe/London') }}"
    data-username="{{ site.username | default('buddy') }}"
    id="message"
  ></span></h1>
</section>